@charset "utf-8";
    #radio input[type="radio"] {display: none; }
    #radio input:checked + .button {background: #ffb121; color: #fff; cursor: default; }
    #radio .button {display: inline-block; margin: 0 5px 10px 0; padding: 5px 10px; background: #f7eebb; color: #333; cursor: pointer; }
    #radio .button:hover {background: rgb(245, 197, 141); color: #fff; }
    #radio .round {border-radius: 5px; }
body {
	background-image: url(2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family:SimSun;
}
.container {
	justify-content: center; 
	flex-direction: row;
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(2,auto);
	grid-gap: 10px;
	grid-template-areas: "header" "content";
}
.header1 {
	grid-area: header;
}
.content {
	grid-area: content;
	color: black;
}
header {
	position: fixed;
	top: 30px;
	width: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    left: 40px;
}
header .aaa {
	margin-left: 0px;
	display: inline-block;
}
.shape-ex11{
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    color: #000;
    background-color: transparent;
    position: relative;
    transition: all .3s linear;
}
.shape-ex11 > p{
    position: relative;
    z-index: 1;
}
.shape-ex11::before{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
}
.shape-ex11::after{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s linear;
}
.shape-ex11:hover::before,
.shape-ex11:hover::after{
    width: 100%;
    height: 100%;
}
.link-top {
	width: 100%;
	height: 1px;
	border-top: solid #353c44 1px;
}
h1 {
	text-align:center;
}
.drop
{
	position: absolute;
	width: 500px;
	height: 500px;
	background: transparent;
	border-radius: 57% 43% 37% 63%/45% 52% 48% 55%;
	background-color: rgba(0,0,0,0.5);
	filter: blur(50px);
	-webkit-filter: blur(50px);
	top: 400px;
	left: -70px;
	position: fixed;
}
.drop2
{
	position: absolute;
	width: 450px;
	height: 450px;
	background: transparent;
	border-radius: 57% 43% 37% 63%/45% 52% 48% 55%;
	background-color: rgba(0,0,0,0.25);
	filter: blur(50px);
	-webkit-filter: blur(50px);
	top: -70px;
	left: 1100px;
	position: fixed;
}
.drop3
{
	position: absolute;
	width: 300px;
	height: 300px;
	background: transparent;
	border-radius: 57% 43% 37% 63%/45% 52% 48% 55%;
	background-color: rgba(0,0,0,0.5);
	filter: blur(50px);
	-webkit-filter: blur(50px);
	top: 100px;
	left: 1300px;
	position: fixed;
}
.drop4
{
	position: absolute;
	width: 200px;
	height: 200px;
	background: transparent;
	border-radius: 57% 43% 37% 63%/45% 52% 48% 55%;
	background-color: rgba(0,0,0,0.5);
	filter: blur(35px);
	-webkit-filter: blur(35px);
	top: 350px;
	left: -70px;
	position: fixed;
}
.li1,.li2,.li3,.li4{
	list-style-type: trad-chinese-informal;
}
.dd{
	font-size: 10ems;
}
a:link{
text-decoration:none;
color:black;
}
a:visited {
color:#ffb121;
}
a:hover {
color:#ffb121;
}
a:active {
text-decoration:none;
color:black;
}