*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgb(255, 143, 234),rgb(123, 235, 255));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: white;
        font-size: 2rem;
    }
}

form{
    display: flex;
    justify-content: center;
    align-items: center;

    input, button{
        border: none;
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        margin: 0.1rem;
        border-radius: 20px;
        padding: 1rem;
        margin: 0.5rem;
    }
    input[type="number"]{
        width: 75px;
        text-align: center;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    button{
        cursor: pointer;
        background-color: antiquewhite;
    }
}

div.sort{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3rem 1rem 0rem 1rem;
    width: 46rem;

    button{
        font-size: 1rem;
        border: none;
        padding: 0.25rem 0.5rem;
        margin: 0.1rem;
        border-radius: 20px;
        padding: 1rem;
        margin: 0.5rem;
        cursor: pointer;
        background-color: antiquewhite;
    }
}
div.sort{
    display: none;
}

section{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .todo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        transition: all 0.15s ease-in-out;

        .todo-text{
            width: 30vw;
            background-color: aliceblue;
            padding: 0.5rem 0.5rem 0.5rem 1rem;
            margin: 0.5rem;
            border-radius: 20px;
        }
        .todo-time{
            text-align: center;
            width: 8vw;
            background-color: aliceblue;
            padding: 0.5rem;
            border-radius: 20px;
        }
        .complete{
            text-align: center;
            cursor: pointer;
            background-color: rgb(178, 250, 178);
            padding: 0.5rem;
            margin-left: 0.5rem;
            border-radius: 20px;
            font-size: 1rem;
        }
        .delete{
            text-align: center;
            cursor: pointer;
            background-color: rgb(235, 146, 146);
            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: 20px;
            font-size: 1rem;
        }
    }
}

.done{
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
}

@keyframes scaleUp{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes scaleDown{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}